<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Post')"></head>
<description>
    <div th:replace="fragments/navbar :: myNav"></div>
    <h1>Create page</h1>

    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="post" th:object="${post}">
        Title:
        <input th:field="*{title}" />
        <br />
        Description:
        <textarea th:field="*{body}" />
        <br />
        <button class="btn" th:action="submit">Save edits</button>
    </form>

    <form th:action="@{/posts/{id}/delete(id=${post.id})}" th:method="post" th:object="${post}">
         <button class="btn btn-warning" th:action="submit">Delete Post</button>
    </form>

    <div th:replace="fragments/footer :: footer"></div>

</description>
</html>